*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("../image/background.png");
    background-repeat: repeat-x;
    animation-name:bg;
    animation-iteration-count:infinite;
    animation-duration: 30s;
    animation-timing-function: linear;
    background-size: 50% 100%;
    overflow: hidden;
}
@keyframes bg{
    from{
       background-position: 0% 0%;
    }
    to{
        background-position: 100% 0%;
    }
}
hgroup{
    vertical-align: middle;
}
header{
    margin: 10px;
    display: inline-block;
     width: 30vw;
    margin-right: 11vw;
}
header>a img{
    width: 60%;
}
nav{
    display: inline-block;
    width: 55vw;
    text-align: right;
    vertical-align: top;
    margin-top: 30px;
}
nav li{
    list-style-type: none;
}
nav>ul{
    left: 40%;
    right:5%;
    position: absolute;
    height: 100px;
    z-index: 99999;
}
nav>ul>li{
    display: inline-block; 
    width: 24%;
    margin-right: -20px;
    vertical-align: top;
}
nav>ul>li img{
    width: 70%;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-position: right;
}
nav>ul>li img:hover{
    background-image: url(../image/itemlogo-click.png);
}
/*子選單的部分*/
nav>ul>li>img:hover+ul{
    visibility:visible;
}
nav>ul>li>img+ul:hover{
    visibility:visible;
}
nav>ul>li>ul{
    text-align:left;
    margin-left: 70px;
    visibility: hidden;
    
}
nav>ul>li>ul li{   
    background-size: 120px 42px;
    background-repeat: no-repeat;
    width: 100%;
    height: 6%;
    
}
nav>ul>li:hover ul li{
    animation-name: subitem;
    animation-duration: 0.2s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
}
@keyframes subitem{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
nav>ul>li>ul li{
    height: 45px;
}
nav>ul>li:nth-of-type(2)>ul a:nth-child(1)>li{
    background-image: url(../image/intro-bg.png);
}
nav>ul>li:nth-of-type(2)>ul a:nth-child(1):hover>li{
    background-image: url(../image/intro-bg-click.png);
}
nav>ul>li:nth-of-type(2)>ul a:nth-child(2)>li{
    background-image: url(../image/intro-role.png);
}
nav>ul>li:nth-of-type(2)>ul a:nth-child(2):hover>li{
    background-image: url(../image/intro-role-click.png);
}
nav>ul>li:nth-of-type(2)>ul a:nth-child(3)>li{
    background-image: url(../image/intro-teach.png);
}
nav>ul>li:nth-of-type(2)>ul a:nth-child(3):hover>li{
    background-image: url(../image/intro-teach-click.png);
}
nav>ul>li:nth-of-type(4)>ul a:nth-child(1)>li{
    background-image: url(../image/about-email.png);
}
nav>ul>li:nth-of-type(4)>ul a:nth-child(1):hover>li{
    background-image: url(../image/about-email-click.png);
}
nav>ul>li:nth-of-type(4)>ul a:nth-child(2)>li{
    background-image: url(../image/about-idea.png);
}
nav>ul>li:nth-of-type(4)>ul a:nth-child(2):hover>li{
    background-image: url(../image/about-idea-click.png);
}
nav>ul>li:nth-of-type(4)>ul a:nth-child(3)>li{
    background-image: url(../image/about-infor.png);
}
nav>ul>li:nth-of-type(4)>ul a:nth-child(3):hover>li{
    background-image: url(../image/about-infor-click.png);
}
/*------------------------*/
footer{
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
}